---
export const prerender = true;
import Layout from '../layouts/Layout.astro';

const response = await fetch('http://127.0.0.1:1337/graphql', {
  method: 'POST',
  headers: { 'Content-Type': 'application/json' },
  body: JSON.stringify({
    query: `
      query {
        products {
          data {
            attributes {
              name
              price
            }
          }
        }
      }
      `,
  }),
});

const {
  data: {
    products: { data },
  },
} = await response.json();
const products = data;
---

<Layout title="GraphQL Products">
  <h1 class="font-bold text-3xl">Products</h1>
  {
    products.map((product) => (
      <li class="text-base">
        {product.attributes.name} cost{' '}
        <strong>${product.attributes.price}</strong>
      </li>
    ))
  }
</Layout>
